Header{
    height: fit-content;
    padding-top: 1rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: fit-content;
    position: relative;
}
/*---------------------- style for cat -----------------*/
.cta{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}
/* -----------------------Header Socials ------------------*/

.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 2rem;
    cursor: pointer;
    
}

.media::after{
    content: '';
    height: 2rem;
    width: 2px;
    background-color: var(--color-primary);
}

/* ------------------- my picture -------------------*/

.photo{
    margin:8% 33%;
    position: relative;
    width: 20rem;
    height:20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo>img{
    width: 90%;
    border-radius: 50%;
    border: .1rem solid var(--color-primary );
    background-color: white;
}
.circle-span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid var(--color-primary);
    border-right: .2rem solid var(--color-primary);
    animation: aboutSpinner 9s linear infinite;
}

@keyframes aboutSpinner{
    100%{
        transform: translate(-50%,-50%)rotate(360deg);
    }
}
.text-animate{
    position: relative;
    width: 50%;
    margin-left: 20%;
    text-align: center;
  
}
.text-animate h3{
    font-size: 1.5rem;
    font-weight: 300;
    color: transparent;
    -webkit-text-stroke: .3px var(--color-primary);
    background-image: linear-gradient(white,var(--color-primary));
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    animation: homebgTXT 7s linear infinite;
    animation-delay: 2s;

}
.text-animate h3::before{
    text-align: center;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid white;
    animation: cursorTXT 7s linear infinite;
    animation-delay: 2s;
}
@keyframes homebgTXT{
    0%,10%,100%{
        background-position: -33rem 0;
    }
    65%,85%{
        background-position: 0 0;
    }

}
@keyframes cursorTXT{
    0%,10%,100%{
        width: 0;
    }
    65%,78%,85%{
        width: 99%;
        opacity: 1;
    }
    75%,81%{
        opacity: 0;
    }
}

.scrolldown{
        position: absolute;
        bottom: 5rem;
        right: -2rem;
         transform: rotate(90deg);

}
@media screen and (max-width:1025px) {
    header{
        height: 60hv;
       
    }
    .media,.scrolldown{
        bottom: 700px;
    }
    .text-animate h3{
        font-size: 10px;
    }
    
}

@media screen and (max-width:600px), (width:600px){
    header{
        height: 90vh;
        margin-bottom: -10rem;
       
        }
        .media,.scrolldown{
            display: none;
    }

     .photo,.photoes{
        width: 20rem;
        height: auto;
    }
    .photo{
        margin:8% 33%;
        position: relative;
        width: 10rem;
        height:10rem;
    }
    h1{
        font-size: 0px;
    }
    Header{
        height: 40rem;
       
    }
   
}